<!-- views/post.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>POST_TITLE | Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/cssootstrap.min.css">
    <style>
      body {

        padding-top :20px;
        padding-bottom: 20px;
      }
    </style>
</head>


<body>




</body>